.not-a-container {
    max-width: 80rem;
    width: 100%;
    display: block;
    position:relative;
    margin: 5rem auto;
    border: 1px solid #000;
}

h3 {
    margin: 2rem;
    display: block;
}

input {
    margin-left: 2rem;
}

.table {
    margin: 2rem;
    max-width: calc(80rem - 4rem);
}

.head {
    cursor: pointer;
}

.head:hover {
    background: #f9f9f9;
    text-decoration: underline;
}